<p id="notice"><%= notice %></p>

<h2 class="ui header"><%= @document.title %></h2>

<%= render 'form', document: @document, disabled: false, form_options: {url: document_path(@document.id), method: :patch, submit: 'Update'} %>
