<p id="notice"><%= notice %></p>

<h2 class="ui header">New Movie</h2>

<%= render 'form', document: @document, disabled: false, form_options: {url: documents_path, method: :post, submit: 'Create'} %>
