<p id="notice"><%= notice %></p>

<h2 class="ui header"><%= @document.title %></h2>

<%= render 'form', document: @document, disabled: true, form_options: {url: document_path(@document.id), method: :get, submit: 'Show'} %>
