<div class="container">

  <h2><%= @document.title %></h2>

  <p id="notice"><%= notice %></p>

  <%= render 'form', document: @document, disabled: true, form_options: {url: document_path(@document.id), method: :get, submit: 'Show'} %>

</div>
